{{>menu }}

<div class="container">
    
    <div class="caixa">           
            <div class="box">
                            <h3>Cadastrar Tarefa</h3>
                            <form action="" method="get">
                            <label for="">Tarefa</label>
                            <input type="text" class="form-control" cols="50" placeholder="Digite o Título da Tarefa">
                            <label for="">Descrição</label>
                            <textarea name="descricao" id="descricao" class="form-control" cols="50" rows="5"></textarea>
                            <div class="d-flex justify-content-end">
                            <input type="submit" class="btn bg-violeta mt-2" value="Cadastrar Tarefa">
                            </form>
            </div>
    </div>

</div>