{{>menu }}

<div class="container">
    
    <div class="caixa">           
            <div class="box">
                <form action="" method="get">
                <label for="">Tarefa</label><hr>
                <input type="text" class="form-group" cols="50" placeholder="Digite o Título da Tarefa"><hr>
                <label for="">Descrição</label><hr>
                <textarea name="descricao" id="descricao" class="form-group" cols="50" rows="5"></textarea><hr>
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn bg-violeta" value="Cadastrar Tarefa">
                </div>
            </form>
            </div>
    </div>

</div>