<div class="container">
   <div class="d-flex justify-content-center">
        <h1>Cadastro de Usuário</h1>
        </div>
    <div class="caixa">
     
            <div class="box">
                <form action="/cadastro">
                <label for="">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome">
                <label for="">Email</label>  
                <input type="email" class="form-control" name="email" id="email">
                <label for="">Senha</label>
                <input type="password" class="form-control" name="senha" id="senha">
                <label for="">Repetir Senha</label>
                <input type="password" class="form-control" name="senha" id="senha">
                <div class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-secondary mt-3" value="Cadastrar">
                </div>
                <div class="d-flex justify-content-center">
                        <a href="/">Voltar</a>
                </div>
            </form>
            </div>
    </div>

</div>