{{>menu }}
<div class="container">
    <div class="d-flex justify-content-center"><h2>Tarefas do Dia</h2></div>
    <div class="caixa">           
            
            <div class="boxpendente">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>
            <div class="boxconcluido">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>
            <div class="boxaberto">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>
            <div class="boxpendente">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>teste1
            </div>
            <div class="boxconcluido">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>teste2
            </div>
            <div class="boxaberto">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>teste3
            </div>
            <div class="boxpendente">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>
            <div class="boxconcluido">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>
            <div class="boxaberto">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>
            <div class="boxpendente">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>
            <div class="boxconcluido">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>
            <div class="boxaberto">
                    <h1>Tarefa</h1><hr>
                    <p>Descrição da tarefa que fora estabelecida</p>
            </div>

    </div>

</div>