<div class="container">
    <div class="caixa">

        <div class="box">
                <form action="/home" method="get">
                <label for="">Login</label>
                <input type="text" class="form-control" name="login" id="nome" placeholder="Login de Usuário" value="{{nome}}">
                <label for="">Senha</label>
                <input type="password" name="senha" id="senha" class="form-control" placeholder="Digite a Senha">
                <div class="d-flex justify-content-end">
                <input type="submit" class="btn btn-primary mt-3" value="Fazer Login">
                </div>
                <div class="d-flex justify-content-center">
                    <a href="" class="text-white">Criar Conta de Usuário</a>
                </div>
               </form>
        </div>
  
        
    </div>
</div>